.expenses-page{
  max-width:1100px;
  margin:auto;
}

.header{
  margin-bottom:20px;
}

.subtitle{
  color:#64748b;
}

.filters{
  margin-bottom:20px;
}

.table-card{
  padding:15px;
  border-radius:16px;
}

/* TABLE */
.expenses-table{
  width:100%;
}

.title{
  font-weight:600;
}

.amount{
  font-weight:700;
  color:#0f172a;
}

/* STATUS COLORS 2026 */
mat-chip.draft{
  background:#f59e0b !important;
  color:white !important;
}

mat-chip.submitted{
  background:#6366f1 !important;
  color:white !important;
}

mat-chip.approved{
  background:#10b981 !important;
  color:white !important;
}

mat-chip.rejected{
  background:#ef4444 !important;
  color:white !important;
}

/* EMPTY */
.empty{
  text-align:center;
  padding:50px;
  color:#64748b;
}
