.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6fa;
}

.login-card {
  width: 360px;
}

.full {
  width: 100%;
}

.error {
  margin-top: 10px;
  color: red;
  text-align: center;
}
